html {
background-color: rgb(197, 221, 233);
border-block-start-style: double;
border-block-start-width: 4px;
border-block-end-style: double;
border-block-end-width: 4px;
}
h1 { 
  color: rgb(54, 138, 248);
   font-style: oblique;
   border-bottom: dotted;
   border-bottom-width: 2px;
}
a:link {
color: rgb(53, 41, 104);
padding: 1px;
text-decoration: underline;
}
a:visited {
color: rgb(109, 158, 221);
font-weight: bolder;
}
a:hover {
  color: rgb(243, 236, 136);
  font-style: oblique;
  box-shadow: 1px 1px 2px 3px;
  text-decoration: unset;
}
a.Current {
color: rgb(179, 179, 179);
}
a:active {
  color: rgb(174, 247, 225);
  padding: 1px;
  font-weight: bold;
}
